@model AdminPanal.Models.OrderT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProdectT.ProdectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdectT.ProdectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserT.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserT.FullName)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
