@model IEnumerable<AdminPanal.Models.OrderT>


@{
                /**/

                ViewBag.Title = "Index";
}




@using (Html.BeginForm("Index", "OrdersMcv", FormMethod.Get))
{

    <div class="form-group">
        <div class="col-md-10" style="padding-right: 0px;padding-left: 0px;margin-bottom:15px">
            <input class="form-control text-box single-line" style="width:100%;max-width: 100%;height: 33px;padding: 10px;border-bottom-left-radius: 15px;border-top-left-radius: 15px;" id="search" name="search" type="text" value="">
        </div>
        <input type="submit" value="search" class="btn btn-danger col-md-2" style="margin-left:-5px;margin-bottom:15px" />
    </div>

    <b style="margin-right:15px; float:left; margin-bottom:25px; " class="">Search By</b>
    @Html.DropDownList("SearchBy", new List<SelectListItem>
{
new SelectListItem {Text="Prodect Name",Value="1",Selected=true},
new SelectListItem {Text="Prodect Price",Value="2"},
new SelectListItem {Text="User Name",Value="3"},
new SelectListItem {Text="User Email",Value="4"},
new SelectListItem {Text="User Phone",Value="5"},
}, "Search By")




}

@{
    <div class="form-group" style="clear:both;margin-bottom:25px">
        <div class="col-md-10">
            <h2>Orders : @Model.Count()</h2>
        </div>
        <div class="col-md-2">
            <h2>Uesers : @ViewBag.msg</h2>
        </div>
    </div>

}


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserT.FullName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UserT.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProdectT.ProdectName)
        </th>

        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="3">No Order Match The Search</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserT.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UserT.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ProdectT.ProdectName)
                </td>

                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |*@
                    @*@Html.ActionLink("Details", "Details", new { id = item.OrderID }) |*@
                    @Html.ActionLink("Details", "Delete", new { id = item.OrderID })

                </td>
            </tr>
        }
    }
</table>
